*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header > h3{
    margin: 20px 0 20px 0;
}

header > button {
    padding: 10px;
}

main{
    display: flex;
    gap: 20px;
    margin: 40px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    background-color: blue;
    height: 300px;
}