*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header > h3{
    margin: 20px 0 20px 0;
}

header > button {
    padding: 10px;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-items: center;
    margin: 40px;
}

article{
    margin-bottom: 30px;
    width: 100%;
    aspect-ratio: 5 / 6;
    max-width: 250px;
    max-height: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media (min-width: 1200px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 899px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 5px;
  }
}